# Development #
###############
__pycache__
*.pyc
*.egg-info
.tox
*.*~
.DS_Store
/*.log
.cache
.state

# Build file #
##############
build/
dist/
.eggs/
docs/_build

# Coverage #
############
.coverage
htmlcov/

# ci_test_migrations.sh artifacts #
###################################
migrated_schema.sql
new_schema.sql
old_schema.sql
rolled_back_schema.sql
